@import 'base/variables';

@font-face {
  font-family: '#{$icomoon-font-family}';
  src: url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?yltecq');
  src: url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?yltecq#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?yltecq') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?yltecq') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?yltecq##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="ico-"],
[class*=" ico-"] {
  // use !important to prevent issues with browser extensions that change fonts
  font-family: '#{$icomoon-font-family}' !important;
  // Better Font Rendering ===========4
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  text-transform: none;
}

.ico-smallarrow {

  &::before {
    content: $ico-smallarrow;
  }

}

.ico-search {

  &::before {
    content: $ico-search;
  }

}

.ico-facebook {

  &::before {
    content: $ico-facebook;
  }

}

.ico-instagram {

  &::before {
    content: $ico-instagram;
  }

}

.ico-twitter {
  &::before {

    content: $ico-twitter;
  }

}
